.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app {
  margin-left:15px;
  width:1200px;
}

.tweet-nav{
  list-style: none;
  overflow: hidden;
  background-color:rgba(30,144,255);
  height:500px;
}
.tweet-nav-link-title{
  color:white;
  text-decoration: none;
  margin-left:20px;
}
.tweet-nav-link{
  margin-left:-10px;
  padding:10px;
  font-size:20px;
  color:white;
  text-decoration: none;
}
.tweet-nav-link-img{
  border-radius:100%;
  width:150px;
  height:150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
